<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://microsoft-apiapp7a7b49cda6db439fac257467a5b7d0b8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>microsoft-apiapp7a7b49cda6db439fac257467a5b7d0b8.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Microsoft-ApiApp7a7b49cda6db439fac257467a5b7d0b8</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <AppServiceName>GT.CS6460.BuddyUp.WebApi</AppServiceName>
    <ResourceGroupName>Default-SQL-EastUS</ResourceGroupName>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Microsoft-ApiApp7a7b49cda6db439fac257467a5b7d0b8</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureAPIApp</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BuddyUpDb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:a11du1z0hl.database.windows.net,1433;Initial Catalog=BuddyUpDb;Integrated Security=False;User ID=gatech@a11du1z0hl;Password={your_password_here};Connect Timeout=30;Encrypt=True" Name="Server=tcp:a11du1z0hl.database.windows.net,1433;Database=BuddyUpDb;User ID=gatech@a11du1z0hl;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="GT.CS6460.BuddyUp.EntityModel.BuddyUpDb, GT.CS6460.BuddyUp.EntityModel" MigrationConfiguration="GT.CS6460.BuddyUp.EntityModel.Migrations.Configuration, GT.CS6460.BuddyUp.EntityModel" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BuddyUpDb-Web.config Connection String">
      <ParameterValue>Server=tcp:a11du1z0hl.database.windows.net,1433;Database=BuddyUpDb;User ID=gatech@a11du1z0hl;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>