<div class="jumbotron">
    <h1>Welcome to Buddy-Up Web API!</h1>
    <p class="lead">This web site helps you get familiar with the Buddy-Up Web APIs and execute them.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>To Get started, We suggest the following steps:</h2>
        <div>
            <ol class="round">
                <li class="one">
                    <h5>Getting Started</h5>
                    Go to the API link to find all published APIs.
                </li>

                <li class="two">
                    <h5>Learn the request/response format with sample</h5>
                    Click the API name to learn the detail of different APIs
                </li>
                <li class="three">
                    <h5>See the API in action</h5>
                    Click the 'Execute API' button to send request and receive response.
                </li>
            </ol>
        </div>
        <div>
            <h3>Useful Links:</h3>
            <ul>
                <li><a target="_blank" href="https://github.com/callumlocke/json-formatter">Chrome plugin to format JSON output</a></li>
                <li><a target="_blank" href="https://github.com/rfletcher/safari-json-formatter">Safari plugin to format JSON output</a></li>
            </ul>
        </div>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>*@
</div>
